*.iws
*.log
plugin.xml
*.zip
*.un~
.DS_Store
*DB.properties
*DB.script
*DB.log
.settings
.classpath
.project
eclipse
stacktrace.log
target
/plugins
/web-app/META-INF
/web-app/WEB-INF
.idea
out
*.iml
*.ipr